.timestamp {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.timestamp_items {
  text-align: left;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.timestamp_item {
  margin-top: 20px;
}

.timestamp_year {
  font-size: 2rem;
  margin-bottom: 0;
  margin-top: 0;
}

.timestamp_lists {
  margin-top: 10px;
  padding-left: 20px;
}

.timestamp_list {
  font-size: 1.05rem;
  margin-bottom: 0.4rem;
  font-family: 'Pretendard-Light', sans-serif;
}

.timestamp_project {
  text-align: center;
  font-size: 1.2rem;
  margin-top: 20px;
}

.timestamp_project > a {
  color: #fff;
}