@font-face {
  font-family: "Pretendard-SemiBold";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff")
    format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard-Light";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff")
    format("woff");
  font-weight: 300;
  font-style: normal;
}

body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  color: #fff;
  background-color: #111727;
  font-family: "Pretendard-Semibold", sans-serif;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 모바일 860, 890 */
@media screen and (max-height: 890px) {
  .copyright {
    display: none;
  }

  #cm-mobile {
    margin-top: 20px;
  }
}

@media screen and (max-width: 860px) {
  .home {
    flex-direction: column;
  }

  #profileCard-mobile {
    margin-right: 0;
    height: auto;
  }

  #pi-mobile {
    width: 250px;
    height: 250px;
  }

  #hw-mobile {
    font-size: 2.5rem;
  }
  
  #skills > div > img {
    width: 50px;
  }

  #timestamp {
    justify-content: start;
  }

  .timestamp_items {
    width: 95%;
    margin-top: 100px;
  }

  #ty-mobile {
    font-size: 1.5rem;
  }

  #tl-mobile {
    font-size: 1rem;
  }
}